<!-- <app-nav-bar class="navbar"></app-nav-bar>  -->
<!-- <app-side-nav-bar></app-side-nav-bar>
  <div class="main">
    <router-outlet></router-outlet>
  </div> -->


<mat-toolbar style="background-color:#181818;">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="flex">
    <a class="font-semibold text-white pt-[5px]">
      <button class="w-10 h-10  rounded-3xl bg-red-800 focus:outline-none "><i class="fa fa-play w-4  text-white"
          id="play-btn"></i></button>
      &nbsp;&nbsp;Perfect Pitch
    </a>

    <input type="text" class="search ml-44 w-[400px] mt-2 h-[30px] rounded-[100px]">
    <button class="search-button ml-4 text-white" type="submit"><i class="fa fa-search"></i></button>
    <div>

      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button"><span class="material-symbols-outlined ml-[160px] mt-2 text-white">
        upload_file
      </span>
      </button>

      <!-- Dropdown menu -->
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a (click)="openDialog()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Upload Video</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Upload Audio</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Upload Shorts</a>
          </li>
          
        </ul>
      </div>

      
    </div>

    <a routerLink="/home/user-profile">

      <mat-icon class="ml-[100px] mt-2 text-white" fontSet="material-symbols-outlined">account_circle</mat-icon>
    </a>

  </div>
</mat-toolbar>

<mat-sidenav-container autosize="true" class="h-fit">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>post_add</mat-icon>
          <span *ngIf="!isCollapsed">Posts</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>videocam</mat-icon>
          <span *ngIf="!isCollapsed">Videos</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>subscriptions</mat-icon>
          <span *ngIf="!isCollapsed">Subscriptions</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>music_note</mat-icon>
          <span *ngIf="!isCollapsed">Genres</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span *ngIf="!isCollapsed">Artists</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>album</mat-icon>
          <span *ngIf="!isCollapsed">Albums</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>library_music</mat-icon>
          <span *ngIf="!isCollapsed">Library</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>play_lesson</mat-icon>
          <span *ngIf="!isCollapsed">Lessons</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>play_circle</mat-icon>
          <span *ngIf="!isCollapsed">Shorts</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="overflow-x-hidden">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

