<p-toast />

<nav class="fixed top-0 z-20 w-full bg-gray-900 text-white">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <!-- Left side: Menu, Logo, and Brand -->
      <div class="flex items-center">
        <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
          <mat-icon class="text-white">menu</mat-icon>
        </button>

        <a class="flex items-center font-semibold">
          <button class="w-10 h-10 rounded-full bg-red-800 flex items-center justify-center focus:outline-none mr-2">
            <i class="fa fa-play text-white" id="play-btn"></i>
          </button>
          <span class="hidden sm:inline">Perfect Pitch</span>
        </a>
      </div>

      <!-- Center: Search with Filter Dropdown (visible on larger screens) -->
      <div class="hidden md:flex items-center flex-1 max-w-xl mx-4">
        <div class="relative w-full">
          <!-- Dropdown Filter -->
          <div class="absolute inset-y-0 left-0 flex items-center">
            <select [(ngModel)]="selectedFilter"
              class="bg-gray-800 text-white rounded-l-full pl-3 pr-6 py-2 focus:outline-none focus:ring-2 focus:ring-blue-600">
              <option value="playlist">Playlist</option>
              <option value="artist">Artist</option>
              <option value="album">Album</option>
              <option value="video">Video</option>
            </select>
          </div>

          <!-- Search Input -->
          <input [(ngModel)]="searchQuery" (input)="performSearch()" type="text" placeholder="Search"
            class="w-full ml-4 bg-gray-800 text-white rounded-full py-2 pl-24 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-600" />
        </div>
      </div>
      <div class="block md:hidden mr-2" >
        <button mat-icon-button aria-label="Search" (click)="toggleMobileSearch()" >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <!-- Right side: Search (mobile only), Upload and Profile -->
      <div class="flex items-center">
        <!-- Mobile Search Button (visible only on small screens) -->
      

        <!-- Upload Button with Dropdown -->
        <div class="relative mr-4">
          <button mat-icon-button [matMenuTriggerFor]="uploadMenu"
            class="p-2 rounded-full bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <mat-icon>upload_file</mat-icon>
          </button>

          <!-- Dropdown Menu for Uploads -->
          <mat-menu #uploadMenu="matMenu">
            <button mat-menu-item (click)="uploadVideo()">
              <mat-icon>video_library</mat-icon>
              <span>Upload Video</span>
            </button>
            <button mat-menu-item (click)="openUploadAudioDialog()">
              <mat-icon>audiotrack</mat-icon>
              <span>Upload Audio</span>
            </button>
            <button mat-menu-item [routerLink]="'/home/shorts-upload'">
              <mat-icon>videocam</mat-icon>
              <span>Upload Shorts</span>
            </button>
            <button mat-menu-item [routerLink]="'/home/create-live'">
              <mat-icon>live_tv</mat-icon>
              <span>Create Live</span>
            </button>
          </mat-menu>
        </div>

        <!-- Profile Icon -->
        <a routerLink="/home/user-profile"
          class="p-2 rounded-full bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
          <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon>
        </a>
      </div>
    </div>

    <!-- Mobile Search Input (conditionally rendered) -->
    <div *ngIf="showMobileSearch" class="md:hidden py-2">
      <div class="relative w-full">
        <select [(ngModel)]="selectedFilter"
          class="absolute inset-y-0 left-0 bg-gray-800 text-white rounded-l-full pl-3 pr-6 py-2 focus:outline-none focus:ring-2 focus:ring-blue-600">
          <option value="playlist">Playlist</option>
          <option value="artist">Artist</option>
          <option value="album">Album</option>
          <option value="video">Video</option>
        </select>
        <input [(ngModel)]="searchQuery" (input)="performSearch()" type="text" placeholder="Search"
          class="w-full bg-gray-800 text-white rounded-full py-2 pl-24 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-600" />
      </div>
    </div>
  </div>
</nav>


<mat-sidenav-container autosize="true" class="h-fit delay-300 transition-all animate-popup">
  <mat-sidenav class="no-scrollbar"
    [ngClass]="!isCollapsed ? 'expanded animate-slideInFromLeft' : 'animate-slideInFromRight'"
    [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a mat-list-item routerLink="landing">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
      </a>


      <a mat-list-item routerLink="music-videos">
        <span class="entry">
          <mat-icon>videocam</mat-icon>
          <span *ngIf="!isCollapsed">Videos</span>
        </span>
      </a>
      <a mat-list-item routerLink="membership">
        <span class="entry">
          <mat-icon>card_membership</mat-icon>
          <span *ngIf="!isCollapsed">Memberships</span>
        </span>
      </a>

      <a mat-list-item routerLink="genres">
        <span class="entry">
          <mat-icon>music_note</mat-icon>
          <span *ngIf="!isCollapsed">Genres</span>
        </span>
      </a>
      <a mat-list-item routerLink="music-playlist">
        <span class="entry">
          <mat-icon>post_add</mat-icon>
          <span *ngIf="!isCollapsed">Playlists</span>
        </span>
      </a>
      <a mat-list-item routerLink="artist-list">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span *ngIf="!isCollapsed">Artists</span>
        </span>
      </a>
      <a mat-list-item routerLink="albums">
        <span class="entry">
          <mat-icon>album</mat-icon>
          <span *ngIf="!isCollapsed">Albums</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>library_music</mat-icon>
          <span *ngIf="!isCollapsed">Library</span>
        </span>
      </a>
      <a mat-list-item routerLink="live">
        <span class="entry">
          <mat-icon>live_tv</mat-icon>
          <span *ngIf="!isCollapsed">Live</span>
        </span>
      </a>
      <a routerLink="shorts" mat-list-item>
        <span class="entry">
          <mat-icon>play_circle</mat-icon>
          <span *ngIf="!isCollapsed">Shorts</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="overflow-x-hidden">
    <router-outlet></router-outlet>
    <app-ngx-audio></app-ngx-audio>
  </mat-sidenav-content>
</mat-sidenav-container>