<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      
      
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword"  PasswordValidator/>
        <mat-error *ngIf="resetPasswordForm.controls['newPassword'].invalid" >
          Password  <strong>Password must Like Yourname123$</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" PasswordValidator />
        <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].invalid">
          Confirm Password <strong> Is Not Matching</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>
