<p-toast />
<!-- spinner -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<h1 mat-dialog-title class="text-lg font-bold">Upload Video</h1>

<div mat-dialog-content class="h-full">
  <mat-stepper [linear]="isLinear" #stepper>

    <!-- Step 1: File Upload -->
    <mat-step [stepControl]="firstFormGroup" label="Upload Video File">
      <div class="flex flex-col items-center justify-center h-[150px]">
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-100 dark:bg-gray-800 border-gray-300 dark:border-gray-600 hover:bg-gray-200 dark:hover:bg-gray-700 transition ease-in-out">
          <div class="flex flex-col items-center justify-center">
            <svg class="w-10 h-10 mb-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 10l4.586-4.586A2 2 0 0 0 17.586 3H6.414A2 2 0 0 0 4.586 5.414L9 10m6 0v10M9 10v10m12-10v5m-6 5v2m-2-2v2M3 16h5M3 20h5" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span>
              or drag and drop</p>
            <p  class="text-xs text-gray-500 dark:text-gray-400" >{{videoName}} </p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" (change)="videoFile($event)"/>
        </label>
      </div>
      <div class="mt-4 flex justify-end">
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <!-- Step 2: Thumbnail Upload -->
    <mat-step [stepControl]="secondFormGroup" label="Upload Thumbnail">
      <form [formGroup]="secondFormGroup" class="space-y-4">
        <label for="thumbnail_input" class="block text-sm font-medium text-gray-900 dark:text-white">Upload Thumbnail</label>
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="thumbnail_input" type="file" (change)="thumbNail($event)">
        <div class="flex justify-between mt-4">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: Video Details -->
    <mat-step [stepControl]="thirdFormGroup" label="Video Details" >
      <form [formGroup]="thirdFormGroup" class="flex flex-col items-center" (ngSubmit)="submit()">
        <mat-form-field class="w-full">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" AlphabetValidator>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="genre" AlphabetValidator>
        </mat-form-field>
        <mat-form-field  class="w-full">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" AlphabetValidator></textarea>
        </mat-form-field>         
        <div class="flex justify-between w-full">
          <button mat-button matStepperPrevious>Back</button>
          <div mat-dialog-actions class="flex">
            <div>
              <button mat-button (click)="onNoClick()">Cancel</button>
              <button type="submit" mat-button color="primary" cdkFocusInitial>Submit</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>

