<h1 mat-dialog-title>Edit Profile</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" AlphabetValidator/>
        <mat-error *ngIf="editForm.controls['fullName'].value.length === 0 && !editForm.controls['fullName'].touched && submitted">
          Full Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="editForm.controls['fullName'].invalid && editForm.controls['fullName'].touched">
          Full Name is <strong>Not Valid</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" NumberValidator/>
        <mat-error *ngIf="editForm.controls['phone'].invalid">
          Phone number is <strong>Not Valid</strong>
        </mat-error>
        <mat-error *ngIf="editForm.controls['phone'].value.length === 0 && submitted">
          Phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</div>
