
    <!-- start -->
    <div
      class="relative flex flex-col bg-gray-800 rounded-lg shadow-md overflow-hidden hover:scale-105 transition-transform duration-300"
    >
      <!-- Video Link -->
      <a routerLink="/home/play-video/{{video._id}}">
        <!-- Video Thumbnail -->
        <div class="relative">
          <video
            class="object-cover h-[240px] w-full bg-black"
            [muted]="'muted'"
            onmouseover="this.play()"
            onmouseout="this.pause();"
          >
            <source src="{{video.link}}" type="video/mp4" />
          </video>
          <div
            class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-75"
          ></div>
        </div>

        <!-- Video Info -->
        <div class="p-4">
          <h3 class="text-lg font-semibold truncate">{{ video.title }}</h3>
          <p class="text-sm text-slate-400 truncate">{{ video.description }}</p>
          <span class="block mt-2 text-xs text-gray-500">{{ video.artistData.fullName }}</span>
        </div>
      </a>
    </div>
    <!-- end -->
 