<div  *ngIf="replyToReplayData" class="mt-9 space-y-4">
  <!-- reply of comment list -->
  <div  class="flex space-x-4">
    <img [src]="replyToReplayData.userData.profileImage" alt="userProfileImage" class="w-8 h-8 rounded-full">
    <div>
      <div class="flex items-center space-x-2">
        <!-- reply author -->
        <span class="font-semibold">{{replyToReplayData.userData.fullName}}</span>
        <!-- reply time -->
        <span class="text-gray-500 text-sm">just now</span>
      </div>
      <!-- reply content -->
      <p class="mt-1">{{replyToReplayData.replyToReply}}</p>
      <div class="flex items-center space-x-4 mt-2">
        <!-- like reply -->
        <button (click)="likeReply(replyToReplayData._id)" class="flex items-center space-x-1 text-gray-500"   [ngStyle]="{'color':(like ? 'red': 'gray' )}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
              d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
          </svg>
          <!-- count of replies like -->
          <span>{{likeCount}}</span>
        </button>
        <!-- <button (click)="toggleReplyToReply()" >reply</button> -->
        <div *ngIf="showReplyToReplyInput" class="mt-4 flex items-start space-x-4">
          <img [src]="userProfileImage" alt="Current user" class="w-8 h-8 rounded-full">
          <div class="flex-grow">
            <input placeholder="Add a public reply..." [(ngModel)]="replyToReply"
              class="w-full p-2 border  border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div class="flex justify-end mt-2 space-x-2">
    
              <!-- cancel reply
              <button (click)="cancelReplyToReply()" class="px-4 py-2 text-gray-600 hover:bg-gray-100 rounded-full">
                Cancel
              </button>
               add reply
              <button (click)="addReplyToReply()" class="px-4 py-2 bg-blue-500 text-white rounded-full disabled:opacity-50">
                Reply
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>