
<div class="spotify-playlists bg-black text-white py-8 px-4">
  <!-- Section Header -->
  <h2 class="text-3xl font-bold mb-6 text-center">Albums</h2>

  <!-- Albums Grid -->
  <div class="list grid grid-cols-1 gap-8 px-2 md:grid-cols-2 lg:grid-cols-4">
  <app-album-card [albumData]="album" *ngFor="let album of albumData"  ></app-album-card>

</div>
<!-- Load More Button -->
<div class="flex justify-center mt-8">
  <button
    (click)="loadMore()"
    class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-200"
  >
    Load More
  </button>
</div>
</div>