<aside class="sidebar">
  
<ul class="sidebar-links">
  <li>
    <a href="#"><span class="material-symbols-outlined"> home</span> Home</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> post</span>Posts</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined">Videocam</span>Videos</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> subscriptions </span>Subscription</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> genres </span>Genres</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> artist </span>Artists</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> album </span>Albums</a>
  </li>
  <li>
    <a class="library" href="#"><span class="material-symbols-outlined">library_music</span>Library</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> play_lesson </span>Lessons</a>
  </li>
  <li>
    <a href="#"><span class="material-symbols-outlined"> play_circle </span>shorts</a>
  </li>
 
</ul>
</aside>