
<div class="bg-white ml-0 md:ml-52 lg:ml-[270px] rounded-lg w-full overflow-hidden mt-[1px]">
  <div class="bg-black flex justify-center p-6 h-[70px]">
    <h1 class="text-white">User Profile</h1>
  </div>
  <nav class="flex justify-around h-10 border-b-2 bg-black text-white">
    <a href="#" class="active">Profile</a>
    <a href="#">Edit Profile</a>
    <a href="#">Phone Verification</a>
    <a href="#">ID Verification</a>
    <a href="#">Reset Password</a>
    <a href="#">Activity Log</a>
  </nav>
  
  <div class="bg-black text-white md:flex xs:flex-wrap">
    <div class="w-1/2 flex border-r-2">
      <div class="mx-auto p-8">
        <!-- profile image -->
         <div class="w-[200px]">

           <div class="image-container">
             <label class="hoverable" for="fileInput">
               <img class="w-[200px] h-[200px]" [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" />
               <div class="background"></div>
             </label>
             <br />
             <input style="display: none;"
               id="fileInput"
               type="file"
               [(ngModel)]="url"
               class="select-profile-picture"
               (change)="onSelectFile($event)"/>
            
           </div>
         </div>
        
        
        <div class="ml-5 mt-4">
          <h2>{{userData.fullName}}</h2>
          <p>{{userData.email}}</p>
          <p>{{userData.phone}}</p>
        </div>
      </div>
    </div>
    <div class="w-1/2 m-5 p-9">
      <ul class="space-y-5">
       
        <li><span>Name:</span>{{userData.fullName}}</li>
        <li *ngIf="userData.isAdmin" ><span>Role:</span>Admin</li>
        <li *ngIf="!userData.isAdmin" ><span>Role:</span>User</li>
        <li><span>Email:</span>{{userData.email}}</li>
        <li><span>Contact:</span>{{userData.phone}}</li>
      </ul>
      <button (click)="openEditDialog({email:userData.email,fullName:userData.fullName,phone:userData.phone})" type="button" class="mt-7 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Edit Profile</button>
    </div> 
    
  </div>
  
</div>