<!-- <div class="bg-white ml-0 md:ml-52 lg:ml-[270px] rounded-lg w-full  overflow-hidden mt-[1px]">
  <nav class="flex justify-around h-10 border-b-2 bg-black text-white">
    <a href="#" class="active">Profile</a>
    <a href="#">Edit Profile</a>
    <a href="#">Phone Verification</a>
    <a href="#">ID Verification</a>
    <a href="#">Reset Password</a>
    <a href="#">Activity Log</a>
  </nav>
  
  <div class="bg-black text-white md:flex xs:flex-wrap">
    <div class="w-1/2 flex border-r-2">
      <div class="mx-auto p-8">
        <img src="https://via.placeholder.com/150" class="rounded-full" alt="John Doe">
        <div class="ml-5 mt-4">
          <h2>Sarath S</h2>
          <p>sarath@gmail.com</p>
          <p>Palai</p>
        </div>
      </div>
    </div>
    <div class="w-1/2 m-5 p-9">
      <ul class="space-y-5">
        <li><span>Name:</span>Sarath</li>
        <li><span>Role:</span>User</li>
        <li><span>Email:</span>sarathsuryasss48@gmail.com</li>
        <li><span>Contact:</span>9846603278</li>
      </ul>
    </div>
  </div>
  
</div> -->