<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <form [formGroup]="oldPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword" PasswordValidator/>
        <mat-error *ngIf="oldPasswordForm.controls['oldPassword'].invalid">
          Password <strong>is not valid</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>
