 
<div class="bg-gray-900 text-white min-h-screen flex flex-col">
  <!-- Main Content -->
  <div class="flex-grow overflow-y-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Now Playing</h1>

    <!-- Current Song Info -->
    <div *ngIf="AlbumDetails" class="flex items-center mb-8">
      <img [src]="AlbumDetails.thumbNailLink" class="w-32 h-32 rounded-md mr-6">
      <div>
        <h2 class="text-2xl font-semibold">{{ AlbumDetails.title }}</h2>
        <p class="text-gray-400">{{ AlbumDetails.artistDetails.fullName }}</p>
      </div>
    </div>
    <div *ngIf="playlistDetails" class="flex items-center mb-8">
      <img [src]="playlistDetails.thumbNailLink" class="w-32 h-32 rounded-md mr-6">
      <div>
        <h2 class="text-2xl font-semibold">{{ playlistDetails.title }}</h2>
        <p class="text-gray-400">{{ playlistDetails.access }}</p>
      </div>
    </div>

    <!-- Playlist -->

    <ul *ngIf="AlbumDetails" class="space-y-2">
      <h3 class="text-xl font-semibold mb-4">Albums</h3>
      <li *ngFor="let song of songs; let i = index" 
          (click)="playSong(i)"
          class="flex items-center p-2 hover:bg-gray-800 cursor-pointer rounded-md transition-colors duration-200"
          [class.bg-gray-800]="songId === song.uuid">
        <img *ngIf="AlbumDetails" [src]="song.thumbNailLink" [alt]="song.title" class="w-10 h-10 rounded mr-4">
        <div class="flex-grow">
          <div [class.text-green-500]="songId === song.uuid">{{ song.title }}</div>
          <div class="text-sm text-gray-400">{{ AlbumDetails.artistDetails.fullName }}</div>
        </div>
        <button (click)="openPlaylistDialog(song._id,song.thumbNailLink)" class="dots text-sm text-gray-400"></button>
      </li>
    </ul>


    <ul *ngIf="playlistDetails" class="space-y-2">
      <h3 class="text-xl font-semibold mb-4">Playlist</h3>
      <li *ngFor="let song of songs; let i = index" 
          (click)="playlistPlay(i)"
          class="flex items-center p-2 hover:bg-gray-800 cursor-pointer rounded-md transition-colors duration-200"
          [class.bg-gray-800]="songId === song.uuid">
        <img *ngIf="playlistDetails" [src]="song.thumbNailLink" [alt]="song.title" class="w-10 h-10 rounded mr-4">
        <div class="flex-grow">
          <div [class.text-green-500]="songId === song.uuid">{{ song.title }}</div>
          <div class="text-sm text-gray-400">{{ song.artistId.fullName }}</div>
        </div>
        <button (click)="openPlaylistDialog(song._id,song.thumbNailLink)" class="dots text-sm text-gray-400"></button>
      </li>
    </ul>

  </div>



  
 
  
</div>