<div class="bg-black min-h-screen text-white p-4 md:p-6 lg:p-8">
  <!-- Recommended Albums Section -->
  <section class="mb-12">
    <h2 class="text-2xl font-bold mb-6">Recommended Albums</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <app-album-card [albumData]="album" *ngFor="let album of albums"></app-album-card>
    </div>
  </section>

  <!-- Artists Section -->
  <section class="mb-12">
    <h2 class="text-2xl font-bold mb-6">Recommended Artists</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <app-artist-cards class="text-black" [artist]="artist" [currentUserId]="userId" *ngFor="let artist of artists"></app-artist-cards>
    </div>
  </section>

  <!-- Recommended Videos Section -->
  <section class="mb-12">
    <h2 class="text-2xl font-bold uppercase text-center mb-6">Recommended Videos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-video-card [video]="v" *ngFor="let v of videos"></app-video-card>
    </div>
  </section>

  <!-- Playlists Section -->
  <section>
    <h2 class="text-2xl font-bold mb-6">Recommended Playlists</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <playlist-cards [playlists]="playlist" *ngFor="let playlist of playlists"></playlist-cards>
    </div>
  </section>
</div>

