

<!-- toaster -->
<p-toast />

<!-- spinner -->
 
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

<!-- component -->
<div class="flex h-screen">
  <!-- Left Pane -->
  <div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black">
    <div class="max-w-md text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Itunes-music-app-icon.png" alt="">
    </div>
  </div>
  <!-- Right Pane -->
  <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl font-semibold mb-6 text-black text-center">Sign Up</h1>
      <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">Join to Our Community with all time access and free </h1>
      <div class="mt-4 flex flex-col lg:flex-row items-center justify-between">
        <div class="w-full lg:w-1/2 mb-2 lg:mb-0">
          
          <app-google-signin ></app-google-signin>

        </div>
        <!-- <div class="w-full lg:w-1/2 ml-0 lg:ml-2">
          <button type="button" class="w-full flex justify-center items-center gap-2 bg-white text-sm text-gray-600 p-2 rounded-md hover:bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 transition-colors duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="github" class="w-4">
              <path d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"></path>
            </svg> Sign Up with Github </button>
        </div> -->
      </div>
      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>or with email</p>
      </div>
      <form action="#" method="POST" class="space-y-4" [formGroup]="loginForm" (ngSubmit)="submit()">
        <!-- Your form elements go here -->
       
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="text" id="email" name="email" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"  formControlName="email" EmailValidation>
          <span style="color: red;"
          *ngIf="loginForm.controls['email'].value.length === 0 && !loginForm.controls['email'].touched && submitted">
          email is required
      </span>
          <span style="color: red;" *ngIf="loginForm.controls['email'].invalid && submitted && loginForm.controls['email'].touched ">
            email is not Valid
        </span>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"  formControlName="password" PasswordValidator>
          <span style="color: red; margin-top: 4px;" *ngIf="loginForm.controls['password'].value.length == 0 && !loginForm.controls['password'].touched && submitted">
            password is required
          </span>
          <span style="color: red; margin-top: 4px;" *ngIf="loginForm.controls['password'].invalid&& loginForm.controls['password'].touched && submitted">
            password is not Valid
          </span>
        </div>
        <div>
          <button type="submit" class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800  focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300">Sign Up</button>
        </div>
      </form>
      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>Dont have an account ? <a  routerLink="/register" class="text-black hover:underline">register here</a>
        </p>
      </div>
      <div class="flex justify-center bg-slate-400">
                    
        <a class="text-indigo-700 hover:text-pink-700 text-sm float-left" routerLink="/request-reset-password">Forgot Password?</a>
    </div>
    </div>
  </div>
</div>