<!-- <div class="min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-extrabold text-center text-gray-900 mb-12">Live Music Videos</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <app-live-video-cards [video]="video" *ngFor="let video of videos" ></app-live-video-cards>
    </div>
  </div> 
</div> -->
<h1>Streamer</h1>

<button (click)="init()" >Start Stream</button>
<video autoplay id="video"></video>

<h1>Viewer</h1>
<video autoplay id='preview'></video>
<button id="my-button" (click)="initView()">View Stream</button>