<!-- toaster -->
<p-toast />
<!-- spinner -->
<div class="max-w-4xl mx-auto font-[sans-serif] p-6">

  <div class="text-center mx-auto mb-16">
   
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
   
   
   <!-- component -->
    <div class="h-auto flex w-full">
      <a href="#" class="flex mx-auto  items-center text-2xl font-semibold text-gray-900 dark:text-black">
        <button class="w-10 h-10  rounded-3xl bg-red-800 focus:outline-none "><i class="fa fa-play w-4  text-white"
            id="play-btn"></i></button>
        &nbsp;&nbsp;Perfect Pitch
      </a>
    </div>
    <h4 class="text-gray-800 text-base font-semibold mt-2">Sign up into your account</h4>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="grid sm:grid-cols-2 gap-8"> 
      
      <div>
        <label class="text-gray-800 text-sm mb-2 block">Full Name</label>
        <input name="fName" type="text"
          class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
          placeholder="Enter name"  formControlName="fullName" FullNameValidator/>
          <span style="color: red;"
          *ngIf="registerForm.controls['fullName'].invalid && registerForm.controls['fullName'].touched">
          Full Name is not Valid
      </span>
    
  <span style="color: red;"
  *ngIf="registerForm.controls['fullName'].value.length === 0 && submitted && !registerForm.controls['fullName'].touched">
  Full name required
</span>
      </div>

     

      <div>
        <label class="text-gray-800 text-sm mb-2 block">Email Id</label>
        <input name="email" type="text"
          class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
          placeholder="Enter email" formControlName="email" EmailValidation/>
          <span style="color: red;"
          *ngIf="registerForm.controls['email'].value.length === 0&& submitted">
          email is required
      </span>
          <span style="color: red;"
          *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].value.length > 0 && submitted">
          email is not Valid
      </span>
      </div>

      <div>
        <label class="text-gray-800 text-sm mb-2 block">Mobile No.</label>
        <input name="phone" type="phone"
          class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
          placeholder="Enter mobile number" formControlName="phone" PhoneNumberValidator/>
          <span style="color: red;"
          *ngIf="registerForm.controls['phone'].value.length === 0 && !registerForm.controls['phone'].touched && submitted">
          phone number is required
      </span>
      <span style="color: red;"
          *ngIf="registerForm.controls['phone'].invalid && registerForm.controls['phone'].touched">
          phone is not Valid
      </span>
      </div>
  
      <div>
        <label class="text-gray-800 text-sm mb-2 block">Password</label>
        <input name="password" type="password"
          class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
          placeholder="Enter password" formControlName="password" PasswordValidator/>  
          <span style="color: red;"
          *ngIf="registerForm.controls['password'].value.length === 0 && !registerForm.controls['password'].touched && submitted">
          password is required
      </span>
          <span style="color: red;"
          *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          <p>
            Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character</p>
      </span>
     
      </div>

      <div>
        <label class="text-gray-800 text-sm mb-2 block">Confirm Password</label>
        <input name="cpassword" type="password"
          class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
          placeholder="Enter confirm password" formControlName="confirmPassword" />
          <span style="color: red;"
          *ngIf="registerForm.controls['confirmPassword'].value.length === 0 && !registerForm.controls['confirmPassword'].touched && submitted">
          confirm password is required
      </span>
          <span style="color: red;"
          *ngIf="registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched">
          confirm password is not Valid
      </span>
    </div> <div class="!mt-7 h-fit min-h-[20px] flex justify-self-auto ">
      <button type="submit"
        class="py-3.5 px-7 text-sm font-semibold tracking-wider rounded-md text-white bg-red-800 hover:bg-red-700 focus:outline-none ">
        Sign up
      </button>
      <div class="ml-14 mt-7">
        <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" routerLink="/login">Aleady have an account</a>
      </div>    
    </div>   
           
</div>
  </form>
 

</div>