<div class="container mx-auto px-4 py-8 bg-black">
  <h1 class="text-4xl font-bold mb-8 text-white">{{ artistName }}</h1>

  <!-- Albums -->
  <div class="spotify-playlists bg-black text-white py-8 px-4">
    <!-- Section Header -->
    <h2 class="text-3xl font-bold mb-6 text-center">Albums</h2>
  
    <!-- Albums Grid -->
    <div class="list grid grid-cols-1 gap-8 px-2 md:grid-cols-2 lg:grid-cols-4">
    <app-album-card [albumData]="album" *ngFor="let album of albumData"  ></app-album-card>
  
  </div>
  <!-- Load More Button -->
  
  </div> 

  <!-- Videos -->
  <div id="trending-music-videos" class="grid gap-6 p-4 bg-black text-white">
    <h1 class="text-3xl font-bold uppercase text-center mb-6">Music Videos</h1>
  
    <!-- Video Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  
      <app-video-card [video]="v" *ngFor="let v of videos"></app-video-card>
  
  
    </div>
  
    <!-- Load More Button -->
    <div class="flex justify-center mt-8">
      <button (click)="loadMore()"
        class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-200">
        Load More
      </button>
    </div>
  </div>

  
  <!-- Playlists -->
  <section class="text-white py-8">
    <div class="container mx-auto px-4">
      <!-- Playlists Heading -->
      <h2 class="text-3xl font-bold text-center mb-6">Playlists</h2>
  
      <!-- Playlist Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <playlist-cards 
          [playlists]="playlist" 
          *ngFor="let playlist of playlists">
        </playlist-cards>
      </div>
  
      <!-- Load More Button -->
      <div class="flex justify-center mt-8">
        <button (click)="loadMore()"
          class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow-lg 
                 hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 
                 focus:outline-none transition duration-200">
          Load More
        </button>
      </div>
    </div>
  </section>
  
  
</div>