<div class="container mx-auto px-4 py-8 bg-black">
  <h1 class="text-4xl font-bold mb-8 text-gray-800">{{ artistName }}</h1>

  <!-- Albums -->
  <section class="mb-12">
    <app-album-card [albumData]="albumData"></app-album-card>
  </section>

  <!-- Songs -->
  <!-- <section class="mb-12">
    <h2 class="text-2xl font-semibold mb-4 text-gray-700">Popular Songs</h2>
    <ul class="bg-white rounded-lg shadow-md divide-y divide-gray-200">
      <li *ngFor="let song of songs" class="flex justify-between items-center p-4 hover:bg-gray-50">
        <div>
          <h3 class="font-medium text-gray-800">{{ song.title }}</h3>
          <p class="text-sm text-gray-600">{{ albums[song.albumId - 1].title }}</p> 
        </div>
        <span class="text-sm text-gray-500">{{ song.duration }}</span>
      </li>
    </ul>
  </section> -->

  <!-- Videos -->
  <section class="mb-12">
    <app-video-card [videos]="videos"></app-video-card>

  </section>

  <!-- Live Performances -->
  <!-- <section class="mb-12">
    <h2 class="text-2xl font-semibold mb-4 text-gray-700">Live Performances</h2>
    <ul class="bg-white rounded-lg shadow-md divide-y divide-gray-200">
      <li *ngFor="let performance of livePerformances" class="p-4 hover:bg-gray-50">
        <h3 class="font-medium text-gray-800">{{ performance.title }}</h3>
        <p class="text-sm text-gray-600">{{ performance.date }} - {{ performance.venue }}</p>
      </li>
    </ul>
  </section> -->

  <!-- Playlists -->
  <section class="mb-12">
    <playlist-cards *ngIf="playlists.length" [playlists]="playlists"></playlist-cards>

  </section>
</div>